---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Rubik', sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     25px;

$text-color:       #333;
$background-color: #ffffff;
$brand-color:      #00AFD7;
$code-background:  #fafafa;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1100px;
$on-palm:          600px;
$on-laptop:        800px;

// Import partials from the `minima` theme.
@import "minima";

// Import fonts.
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i');

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	border-bottom: 1px solid $grey-color-light;
    text-transform: uppercase;
}

h1 {
    border-bottom: none;
}

h2 {
    border-bottom: none;
    background-color: #efefef;
    padding: 10px;
    line-height: 1em;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin-bottom: $spacing-unit;
}

table {
	margin-bottom: $spacing-unit;
	border-spacing: 0;
	border-collapse: collapse;
}

table th, table td {
	border: 1px solid $grey-color-light;
	text-align: left;
	padding: 5px;
}

pre, code {
	border-radius: 0;
	background-color: $code-background;
	font-size: $base-font-size - 2px;
}

strong {
    font-weight: 500;
}

a:visited {
	color: $brand-color;
}

.site-header {
	border-top: none;
	border-bottom: none;
	background-color: #333;
	color: #fff;
}

.site-nav .page-link, .site-title, .site-title:visited {
	color: #fff;
}

.site-title {
	font-weight: 300;
	letter-spacing: 0;
}

.post-title {
	font-size: 28px;
	line-height: inherit;
}

.post-content h1 {
	font-size: 28px;
}

.post-content h2 {
	font-size: 22px;
}

.post-content h3 {
	font-size: 18px;
}

.post-content h4 {
	font-size: 16px;
}

.post-content h5 {
	font-size: 14px;
}

.post-content h2, h3, h4, h5, h6 {
    cursor: pointer;
}

.highlighter-rouge .highlight {
	background: $code-background;
}

.footer-heading {
	border-bottom: none;
}

.site-footer h3 {
	margin-bottom: 0;
    border-bottom: none;
}